:root {
    --main-color: #333;
    --background-color: green;
    --element-color: #f6f69d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content{
    width: 500px;
    height: 500px;
    background: var(--element-color);
    padding: 20px;
    font-size: 36px;
    color: var(--main-color);
    resize: none;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 50px #000;
    &:hover, &:focus{
        box-shadow: 0 0 100px #000;
    }
}
